.btn{
    background: rgba(0, 0, 0, 0.11);
    border: 1px solid white;
    width: 75px;
    height: 40px;
    border-radius: 20px;
    align-self: center;
}

.btn:hover{
    background: rgba(0, 0, 0, 0.214);
    cursor: pointer;
}