@mixin breakpoint($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}

.anim{
    padding-top: 100px;
    cursor: pointer;
    //z-index: 3;
    animation-name: squish;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: bottom;

    @include breakpoint(600px){
        padding-top: 150px;
    }
}

@keyframes squish{
    0%{
    transform: scaleY(1);
    }
    50%{
        transform: scaleY(0.98);
    }
    100%{
        transform: scaleY(1);
    }
}

.img{
    width: 100%;
    height: 100%;
}