@font-face {
  font-family: main;
  src: url("../../public/fonts/Pacifico-Regular.ttf");
}

//незмінне
.post{
    background: rgba(0, 0, 0, 0.256);
    margin: 20vh 10%;
    padding: 20px;
    border-radius: 50px;
    font-family: main;
}

.image{
    width: 100%;
    border-radius: 50px;
}

.header{
    width: 100%;
    height: 100px;
    position: fixed;
    background: rgba(38, 6, 62, 0.196);
    display: flex;
    justify-content: flex-end;
    padding: 0 7%;
}

.btn{
    background: rgba(0, 0, 0, 0.11);
    border: 1px solid white;
    padding: 15px 20px;
    border-radius: 20px;
    align-self: center;
    text-align: center;
    font-size: 12px;
}

.btn:hover{
    background: rgba(0, 0, 0, 0.214);
    cursor: pointer;
}

.post_text{
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.h3{
    font-size: 25px;
}

.text_image{
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

.sticker{
    width: 100px;
    margin-bottom: -10px;
}

.li{
    list-style-type: circle;
    margin-left: 20px;
}

.only_sticker{
   display: flex;
   justify-content: center; 
}

.night{
      background: linear-gradient(rgb(20, 15, 26), rgb(76, 50, 92));
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.morning{
  background: linear-gradient(rgb(148, 138, 255), rgb(218, 243, 255));
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.day{
  background: linear-gradient(rgb(191, 241, 255), rgb(121, 193, 255));
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.evening{
  background: linear-gradient(rgb(69, 12, 38), rgb(181, 45, 30));
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}