@font-face {
    font-family: main;
    src: url("../../public/fonts/Pacifico-Regular.ttf");
}

@mixin breakpoint($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

//the "unchanged" design

.profile_with_avatar{
  position: fixed;
  top: 0;
  left: 0;
    display: flex;
    margin-left: auto;
    min-width: 100%;
    //background: rgba(255, 255, 255, 0.196);
    justify-content: end;
    gap: 10px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    font-family: main;
}

.profile_pic{
  height: 80px;
  border-radius: 15px;
  transition: opacity 0.5s;
}

.profile_pic:hover{
  opacity: 0.7;
}

.profile_text{
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

//night


//morning

//day

//evening
.evening{
  background: linear-gradient(rgb(69, 12, 38),rgb(181, 45, 30));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}