@font-face {
    font-family: main;
    src: url("../../public/fonts/Pacifico-Regular.ttf");
}

//the "unchanged" design

.h1{
    font-size: 42px;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.hide{
    display: none;
}

.preview_image{
    height: 200px;
}

.link:hover{
    text-decoration: underline;
}

//night

.avatar_main_container_night{
    background-color: rgb(37, 27, 50);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(214, 214, 214);
    font-family: main;
    gap: 20px;
}

//morning

.avatar_main_container_morning{
    background: linear-gradient(rgb(148, 138, 255), rgb(218, 243, 255)) ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: main;
    gap: 20px;
}

.upload_avatar_morning{
    width: 200px;
    height: 50px;
    background: rgba(148, 138, 255, 0.5);
    text-align: center;
    border: 1px solid rgb(31, 23, 118);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}

.upload_avatar_morning:hover{
    background: rgba(116, 106, 219, 0.5);
}

.submit_morning{
    width: 200px;
    height: 50px;
    background: rgba(148, 138, 255, 0.5);
    text-align: center;
    border: 1px solid rgb(31, 23, 118);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    font-family: main;
    font-size: 17px;
}

.submit_morning:hover{
    background: rgba(116, 106, 219, 0.5);
}

//day

.avatar_main_container_day{
    background-color: rgb(191, 241, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(32, 28, 35);
    font-family: main;
    gap: 20px;
}

//evening

.avatar_main_container_evening{
    background: linear-gradient(rgb(69, 12, 38),rgb(181, 45, 30)) ;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 224, 173);
    font-family: main;
    gap: 20px;
}

.upload_avatar_evening{
    width: 200px;
    height: 50px;
    background: rgba(69, 12, 38, 0.5);
    text-align: center;
    border: 1px solid rgb(237, 195, 129);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}

.upload_avatar_evening:hover{
    background: rgba(92, 15, 24, 0.5);
}

.submit_evening{
    width: 200px;
    height: 50px;
    background: rgba(69, 12, 38, 0.5);
    text-align: center;
    border: 1px solid rgb(237, 195, 129);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    font-family: main;
    color: rgb(255, 224, 173);
    font-size: 17px;
}

.submit_evening:hover{
    background: rgba(92, 15, 24, 0.5);
}